.item {
	position: relative;
}
.pagination {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}
.pagination .search {
	flex-grow: 1;
}
span.right {
	right: 0;
	position: absolute;
}
.item:nth-child(even) {
	background-color: #CCC;
}
.listouter {
	max-width: 800px;
}
.listouter table {
	width: 100%;
}
.item .description {
	display: none;
	position: absolute;
	border: solid blue 2px;
	z-index: 3;
	top: 100%;
	background-color: #EEF;
	width: 80%;
	margin-left:10%;
}
.item:hover .description {
	display: block;
}
.item:hover {
	background-color: #EEF;
}
.ADDED.item, .DOWNLOAD_WAIT.item, .DOWNLOAD.item {
	background-color: #FFFFCC;
}
.SEED.item {
	background-color: #CCFFCC;
}
a.active {
	text-decoration: none;
	cursor: default;
}

